<div class="header-top">
    <div class="container">
        <div class="row">
          <div class="col-md-6 logo">
          </div>
          <div class="col-md-6">
            <p>
              <!-- <span class="login"><a routerLink="/home" routerLinkActive="active" >Login</a></span> -->
              <span class="login"><a routerLink="/home" routerLinkActive="active" >Log In</a></span>
              <span class="home" ><a routerLink="/home" routerLinkActive="active" >Home</a></span>
            </p>
          </div>
        </div>
      </div>
      
</div>





